$font-title:"Fraunces", serif;
$font-text: "Montserrat", sans-serif;
$primary-color:#6A42C2;
$secondary-color:#FFFFFF;
$tertiary-color:#FFF7D1;
$title-color:#6A42C2;
$text-color:#5f5f5f;
$span-bg:#999696;
$hover:#563A9C;

/*bottoni*/

%btn{
    background-color: $title-color;
    color: $secondary-color;
    font-weight: 700;
    border-radius:5px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

%btn-2{
    background-color: transparent;
    color: $title-color;
    padding: 0;
}