/*bottoni*/
.submit-btn, .my-btn, .btn-header, .btn-header-mobile {
  background-color: #8B5DFF;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.type-2 {
  background-color: transparent;
  color: #FFFFFF;
  border: 2px solid rgba(38, 38, 38, 0.5);
}

.type-3 {
  background-color: transparent;
  color: #262626;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #6A42C2;
  color: white;
  border: 2px solid #6A42C2;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
  z-index: 9999;
}

.back-to-top.show {
  opacity: 1; /* Lo rende visibile */
  visibility: visible; /* Lo mostra */
}

.back-to-top:hover {
  background-color: #563A9C;
  border-color:#563A9C;
}

/* Transizioni fluide */
.navbar-toggler i {
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
  float: right;
  margin-top: 26px;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 24px; /* Dimensione personalizzata */
}

.navbar-toggler i.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2); /* Aggiunge ingrandimento */
}

/* Colore personalizzato */
#icon-bars {
  color: #6A42C2; /* Colore blu */
}

#icon-times {
  color: #262626; /* Colore rosso */
  position: relative;
  left: 16px;
}

/*end*/
.header-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar {
  border-bottom: solid 1px rgba(139, 93, 255, 0.3);
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  padding: 0 !important;
}

.nav-link {
  color: black !important;
}
.nav-link:hover {
  color: #563A9C !important;
}
#nav-button {
  gap: 20px;
}

.logo {
  margin-right: 0 !important;
}

.my-logo {
  width: 50px;
}

.navbar-toggler {
  border: none !important;
  padding: 0 !important;
  margin-left: 8px;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

.btn-header, .btn-header-mobile {
  padding: 10px 15px 10px 15px;
}
.btn-header:hover, .btn-header-mobile:hover {
  background-color: #563A9C;
}
.btn-header:active, .btn-header-mobile:active {
  background-color: #6A42C2;
}

.btn-header {
  margin-left: 20px;
}

/*mobile*/
@media screen and (max-width: 600px) and (min-width: 320px) {
  .header-container {
    max-width: 90%;
  }
  .navbar {
    padding: 13px 0 13px 0 !important;
  }
  .btn-header {
    display: none !important;
  }
  .btn-header-mobile {
    font-size: 14px;
  }
  .navbar-nav {
    margin: 20px 0 0 0 !important;
  }
  .nav-desktop {
    display: none; /* qui nascondiamo il menu desktop*/
  }
  .nav-link {
    font-size: 16px !important;
  }
  .back-to-top {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
  }
  .fold-image, .double-botton {
    display: flex;
    justify-content: center;
  }
  .above-the-fold{
    margin-top: 20px;
  }
}
/*tablet*/
@media screen and (max-width: 1025px) and (min-width: 601px) {
  .btn-header {
    display: none !important;
  }
  .header-container {
    max-width: 85% !important;
  }
  .navbar {
    padding: 16px 0 16px 0 !important;
  }
  .navbar-nav {
    margin: 20px 0 0 0 !important;
  }
  .nav-desktop {
    display: none; /* qui nascondiamo il menu desktop*/
  }
  .nav-link {
    font-size: 16px !important;
  }
}
/*desktop*/
@media screen and (min-width: 1026px) {
  .navbar {
    padding: 15px 0 15px 0 !important;
  }
  .navbar-nav {
    align-items: center;
  }
  .nav-mobile {
    display: none; /* qui nascondiamo il menu con chiusura automatica della versione mobile*/
  }
  .nav-link {
    font-size: 16px !important;
  }
  .btn-header-mobile {
    display: none !important;
  }
  .btn-header {
    font-size: 16px !important;
  }
}
/*bottoni*/
.submit-btn, .my-btn, .btn-header, .btn-header-mobile {
  background-color: #8B5DFF;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.type-2 {
  background-color: transparent;
  color: #FFFFFF;
  padding: 14px;
  border: 2px solid rgba(38, 38, 38, 0.5);
}

.contact-header {
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  border-bottom: 1px solid #8B5DFF;
  padding: 13px 0 13px 0;
}

.contact-header-container {
  width: 90%;
  display: flex;
  justify-content: center;
}

.contact-header-container-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-logo {
  width: 120px;
}

/*tablet*/
@media screen and (max-width: 1025px) and (min-width: 601px) {
  .contact-header {
    padding: 16px 0 16px 0;
  }
}
/*desktop*/
@media screen and (min-width: 1026px) {
  .contact-header {
    padding: 16px 0 16px 0;
  }
}
/*bottoni*/
.submit-btn, .my-btn, .btn-header, .btn-header-mobile {
  background-color: #8B5DFF;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.type-2 {
  background-color: transparent;
  color: #8B5DFF;
  padding: 0;
}

/*bottoni*/
.submit-btn, .my-btn, .btn-header, .btn-header-mobile {
  background-color: #8B5DFF;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.type-2 {
  background-color: transparent;
  color: #FFFFFF;
  padding: 14px;
  border: 2px solid rgba(38, 38, 38, 0.5);
}

/*generale*/
.space {
  height: 90px;
}

.title-section {
  text-align: center;
}

.my-btn {
  display: inline-block;
  padding: 15px 25px 15px 25px;
}
.my-btn:hover {
  background-color: #563A9C;
}
.my-btn:active {
  background-color: #8B5DFF;
}

.type-2:hover {
  background-color: #6A42C2;
  color: white;
  border-color: #563A9C;
}
.type-2:active {
  color: #8B5DFF;
}
.type-3:hover {
  background-color: transparent;
  color:#6A42C2;
}
.type-3:active {
  color:#8B5DFF;
}
.footer-icon-container a:hover, .footer-icon-container a:active {
  background-color: transparent;
  color: #FFF7D1;
}

.updating-span-container {
  display: flex;
  justify-content: center;
}

.updating {
  color: rgba(38, 38, 38, 0.75);
  font-size: 15px;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.fa-solid {
  margin-left: 3px;
}

/*section: above the fold*/
.above-the-fold {
  display: flex;
  justify-content: center;
}

.fold-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  gap: 30px;
}

.double-botton {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.foto-profilo {
  border-radius: 300px;
  width: 250px;
}

/*section: skill*/
.skill {
  display: flex;
  justify-content: center;
}

.skill-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.skill-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: 2px solid #6A42C2;
  border-radius: 12px;
  background-color: #FFFFFF;
}

.skill-img {
  margin-bottom: 20px;
  width: 30%;
}

.skill-level, .job-type {
  display: inline-block;
  text-align: center;
  background-color: #FFF7D1;
  padding: 2px 12px 2px 12px;
  border-radius: 8px;
  color: #262626;
  font-size: 16px;
  margin-top: 5px;
  border: 1px dotted rgba(38, 38, 38, 0.7);
}

.job-type {
  margin-top: 0px;
  margin-bottom: 10px;
}

/*section: job*/
.job {
  display: flex;
  justify-content: center;
}

.job-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.job-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid #6A42C2;
  border-radius: 12px;
  background-color: #FFFFFF;
}

.job-grid-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-img {
  margin-bottom: 20px;
  width: 50%;
}

.job-grid-description {
  text-align: center;
}

.job-button {
  margin-left: 0;
}

.card {
  border: none !important;
}

.card-container {
  width: 100%;
  border: 2px solid #6A42C2;
  border-radius: 12px;
}

.custom-line-list {
  list-style: none; /* Rimuove i puntini standard */
  padding: 0;
  margin: 0;

  li {
    position: relative;
    padding-left: 16px; /* Spazio tra la linea e il testo */
    margin-bottom: 16px; /* Spaziatura tra gli elementi */
    font-size: 16px; /* Dimensione del testo */
    color: #262626; /* Colore del testo */
  }

  li::before {
    content: ''; /* Elemento decorativo */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px; /* Spessore della linea */
    height: 100%; /* Altezza della linea */
    background-color: #8B5DFF; /* Colore della linea */
    border-radius: 2px; /* Arrotondamento */
  }

  li:hover::before {
    background-color: #563A9C; /* Cambia colore al passaggio del mouse */
    transition: background-color 0.3s ease;
  }
}

.custom-line-list li {
  opacity: 0;
  transform: translateX(-20px);
  animation: slideIn 0.5s ease forwards;
}

li:nth-child(1) {
  animation-delay: 0.2s;
}
li:nth-child(2) {
  animation-delay: 0.4s;
}
li:nth-child(3) {
  animation-delay: 0.6s;
}
li:nth-child(4) {
  animation-delay: 0.8s;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#content-designer, #content-sport {
  margin-top: 50px;
}

.space-between {
  margin-top: 0;
  margin-bottom: 30px;
}

/*section: contatti*/
.cta {
  display: flex;
  justify-content: center;
}

.cta-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cta-text {
  margin-bottom: 30px !important;
}

/*tablet*/
@media screen and (max-width: 1025px) and (min-width: 601px) {
  .space {
    height: 100px;
  }
  /*section: above the fold*/
  .fold-container {
    flex-direction: column-reverse;
    max-width: 85%;
    gap: 20px;
    align-items: center;
  }
  .fold-image {
    width: 38%;
    display: flex;
    justify-content: center;
  }
  /*section: skill*/
  .skill-container {
    flex-direction: row;
    max-width: 85%;
    gap: 15px;
    align-items: stretch;
    justify-content: center;
  }
  .skill-grid {
    width: 31.8%;
    padding: 20px;
  }
  /*section: job*/
  .job-container {
    flex-direction: row;
    max-width: 85%;
    gap: 15px;
    align-items: stretch;
    justify-content: center;
  }
  .job-grid {
    display: flex;
    flex-direction: column;
    width: 48.8%;
    padding: 25px;
  }
  .job-grid-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .job-grid-description {
    text-align: center;
  }
  .job-img {
    margin-bottom: 20px;
  }
  /*section: contatti*/
  .contact-container {
    width: 65%;
  }
  .cta-container {
    width: 70%;
  }
}
/*desktop*/
@media screen and (min-width: 1115px) {
  .space {
    height: 125px;
  }
  /*section: above the fold*/
  .fold-container {
    flex-direction: row-reverse;
    max-width: 1200px;
    gap: 40px;
    align-items: center;
  }
  .fold-grid {
    width: 63%;
  }
  .fold-image {
    width: 33%;
    display: flex;
    justify-content: center;
  }
  .foto-profilo {
    width: 350px;
  }
  .my-btn {
    font-size: 16px !important;
  }
  /*section: skill*/
  .skill-container {
    flex-direction: row;
    max-width: 1200px;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
  }
  .skill-grid {
    width: 32.1%;
    padding: 25px;
  }
  /*section: job*/
  .job-container {
    flex-direction: row;
    max-width: 1200px;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
  }
  .job-grid {
    display: flex;
    flex-direction: row;
    width: 49.1%;
    padding: 25px;
    gap: 20px;
  }
  .job-grid-image {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .job-grid-description {
    width: 65%;
    text-align: start;
  }
  .job-img {
    width: 100%;
    margin-bottom: 0;
  }
}

/*desktop*/
@media screen and (max-width: 1115px) and (min-width: 1025px) {
  .space {
    height: 125px;
  }
  /*section: above the fold*/
  .fold-container {
    flex-direction: column-reverse;
    max-width: 1200px;
    gap: 40px;
    align-items: center;
  }
  .fold-grid {
    width: 63%;
  }
  .fold-image {
    width: 33%;
    display: flex;
    justify-content: center;
  }
  .foto-profilo {
    width: 350px;
  }
  .my-btn {
    font-size: 16px !important;
  }
  /*section: skill*/
  .skill-container {
    flex-direction: row;
    max-width: 1200px;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
  }
  .skill-grid {
    width: 32.1%;
    padding: 25px;
  }
  /*section: job*/
  .job-container {
    flex-direction: row;
    max-width: 1200px;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
  }
  .job-grid {
    display: flex;
    flex-direction: row;
    width: 49.1%;
    padding: 25px;
    gap: 20px;
  }
  .job-grid-image {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .job-grid-description {
    width: 65%;
    text-align: start;
  }
  .job-img {
    width: 100%;
    margin-bottom: 0;
  }
}

/*bottoni*/
.submit-btn, .btn-header, .btn-header-mobile, .my-btn {
  background-color: #6A42C2;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.type-2 {
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid rgba(38, 38, 38, 0.5);
}

.contact-body {
  background-color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
}

.contact-page {
  padding-top: 40px;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact-container {
  margin-top: 100px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*form*/
.form-block-1 {
  float: left;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.form-block-2 {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contact-form-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 25px 25px 32px 25px;
  background-color: #FFFFFF;
  border: 2px solid #6A42C2;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #262626;
  border-radius: 7px;
  background-color: #FFFFFF;
  font-size: 14px !important;
  color: #262626;
}

.my-form span {
  color: red;
}

#cv-button {
  margin-right: 20px;
}

.submit-btn {
  padding: 15px 25px 15px 25px;
  margin-top: 20px;
  border: none;
}
.submit-btn:hover {
  background-color: #563A9C;
}
.submit-btn:active {
  background-color: #563A9C;
}

label {
  margin: 10px 0 5px 0;
  font-size: 16px;
  color: #262626;
 }

label:first-of-type {
  margin-top: 0;
}

::placeholder {
  color: rgba(38, 38, 38, 0.3);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: rgba(38, 38, 38, 0.3);
}

/*tablet*/
@media screen and (max-width: 1025px) and (min-width: 601px) {
  .contact-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .contact-page {
    padding-top: 50px;
    flex-grow: 1;
  }
  .contact {
    display: flex;
    justify-content: center;
  }
  /*form*/
  .contact-form-container {
    width: 560px;
  }
  .form-block-1 {
    float: left;
    width: 48%;
    margin-right: 20px;
  }
  .form-block-2 {
    float: left;
    width: 48%;
    margin-bottom: 20px;
  }
  input, textarea {
    font-size: 18px !important;
  }
  ::placeholder {
    font-size: 18px;
  }
  label {
    font-size: 18px;
  }
}
/*desktop*/
@media screen and (min-width: 1026px) {
  .contact-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .contact-page {
    padding-top: 60px;
    flex-grow: 1;
  }
  .contact {
    display: flex;
    justify-content: center;
  }
  /*form*/
  .contact-form-container {
    width: 850px;
  }
  .form-block-1 {
    float: left;
    width: 49%;
    margin-right: 15px;
  }
  .form-block-2 {
    float: left;
    width: 49%;
    margin-bottom: 20px;
  }
  input, textarea {
    font-size: 16px !important;
    background-color: #FFFFFF;
  }
  ::placeholder {
    font-size: 16px;
  }
  .submit-btn {
    font-size: 18px !important;
  }
  label {
    font-size: 18px;
  }
}
/*bottoni*/
.btn-header, .btn-header-mobile, .my-btn, .submit-btn {
  background-color: #6A42C2;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.type-2 {
  background-color: transparent;
  color: #262626;
  border: 1px solid #262626;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(38, 38, 38, 0.9);
  padding: 40px;
}

.footer-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.footer-icon {
  margin-left: 0;
  font-size: 40px !important;
  border: none;
}

.footer-text {
  text-align: center;
  font-size: 15px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-container p {
  color: white;
}

.footer-icon-container a {
  color: white;
}

#message{
  resize: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.my-body {
  background-color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3 {
  color: #262626 !important;
}

h1, h2 {
  font-family: "Fraunces", serif;
  font-weight: 800 !important;
}

h1 {
  font-size: 35px !important;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 29px !important;
  letter-spacing: -1.2px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
  font-size: 23px !important;
}

p {
  font-size: 16px !important;
  color: rgba(38, 38, 38, 0.7);
  font-family: "Montserrat", sans-serif;
}

/*tablet*/
@media screen and (max-width: 1025px) and (min-width: 601px) {
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 34px !important;
  }
  h3 {
    font-size: 23px !important;
  }
  p {
    font-size: 16px !important;
  }
}
/*desktop*/
@media screen and (min-width: 1026px) {
  h1 {
    font-size: 50px !important;
  }
  h2 {
    font-size: 42px !important;
  }
  h3 {
    font-size: 27px !important;
  }
  p {
    font-size: 16px !important;
  }
}